<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @news.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @news.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @news.url %>
</p>

<p>
  <strong>Urltoimage:</strong>
  <%= @news.urlToImage %>
</p>

<p>
  <strong>Publishedat:</strong>
  <%= @news.publishedAt %>
</p>

<p>
  <strong>String:</strong>
  <%= @news.string %>
</p>

<p>
  <strong>Content:</strong>
  <%= @news.content %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
